@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body,
html {
    margin: 0;
    font-family: "Inter", Helvetica;
    background-image: url("C:/Users/sai/PLM_DRS/public/images/Bg-image.png"); /* Specify the path to your image */
    background-size: cover; /* Cover the entire container */
    background-position: center; /* Position the image in the center */
}
